<!-- app-navigation.component.html -->

<div class="navigation-bar">
  <div class="left-links">
    <a routerLink="/">Home</a>
    <ng-container *ngIf="isAuthenticated()">
      <a routerLink="/add">Add announcement</a>
    </ng-container>
  </div>
  <div class="right-links">
    <ng-container *ngIf="!isAuthenticated(); else loggedInLinks">
      <a routerLink="/register">Register</a>
      <a routerLink="/login">Login</a>
    </ng-container>
    <ng-template #loggedInLinks>
      <a routerLink="/profile">My Profile</a>
      <a (click)="logout()">Logout</a>
    </ng-template>
  </div>
</div>
