<mat-card class="card-container">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title class="an-title">{{ announcement.title }}</mat-card-title>
    <mat-card-subtitle class="author">{{announcement.user | author }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="image" src="{{ announcement.images[0] }}" alt="announcement image" />
  <mat-card-content>
    <p class="an-description">{{ announcement.description }}</p>
  </mat-card-content>
</mat-card>
