.ann-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  gap: 20px;
}

.announcement-container {
  margin-right: 10px;
}

.profile-container {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.edit-button {
  padding: 8px 12px;
  background-color: #007bff; /* Blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.edit-button:hover {
  background-color: #0069d9; /* Slightly darker blue on hover */
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.info-label {
  font-weight: bold;
  margin-right: 5px;
}

.profile-delete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.delete-button-container {
  margin-top: 10px; /* Adjust spacing as needed */
}

.delete-button {
  padding: 8px 12px;
  background-color: #ff6347; /* Tomato red */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.delete-button:hover {
  background-color: #d9534f; /* Slightly darker red on hover */
}
